@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia');

.all {
    width: 100vw;
    height: 100vh;
    font-family: 'Audiowide', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sudoku-day, .all-day {
    background: #ddd;
    color: #000;
}

.sudoku-night, .all-night {
    background: #000;
    color: #ddd;
}

.sudoku-title {
    padding: .6rem;
    font-size: 2rem;
}

.sudoku-map {
    padding:  2rem .2rem;
    display:  flex;
    align-items: center;
    justify-content: center;
}

.sudoku-board {
    display: grid;
    /* min-width: 60%; */
    border: .2rem solid #000;
    /* color: #000; */
}

.initial {
    font-weight: 800;
    font-family: 'Audiowide', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .initial-day {
    color: #444;
}

.initial-night {
    color: #bbb;
}
 */

.palette {  /* Indicates main box for palette */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .1rem;
}

.numbers-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    /* position: absolute; left: 10%; */
    border-radius: 10%;
}

.numbers-easy {
    /* background-image: linear-gradient(135deg, hsl(102, 50%, 60%), hsl(124, 50%, 60%)); */
    border: .2rem solid hsl(116, 73%, 30%);
}

.numbers-medium {
    /* background-image: linear-gradient(135deg, hsl(45, 50%, 60%), hsl(70, 50%, 60%)); */
    border: .2rem solid hsl(55, 73%, 30%);
}

.numbers-hard {
   /*  background-image: linear-gradient(135deg, hsl(3, 50%, 60%), hsl(33, 50%, 60%));
    background-color: hsla(12, 65%, 45%, .85); */
    border: .2rem solid hsl(12, 73%, 30%);
}

.numbers-master {
    /* background-image: linear-gradient(135deg, hsl(177, 50%, 60%), hsl(222, 50%, 60%)); */
    border: .2rem solid hsl(182, 73%, 30%);
} 

.numbers-box .option {
    border: .1rem solid;
    border-color: inherit;
}

.option {
    padding: .2rem;
    font-weight: 600;
    border: .2rem dotted hsla(124, 5%, 5%, .6);
    font-weight: 700;
    border-radius: 10%;
}

/* When we append a number to a given tile with pencilmark option turn on*/

.pencilmark_tile {
    display: grid;
    justify-items: center;
    /*
    align-content: start;
    align-items: start;  
    */
    grid-template-columns: repeat(3, 33%);
    grid-template-columns: repeat(3, 33%);
    /* row-gap: 0; */
}

.xd {
   /*  background: #43b12b; */
    display: flex;
    /* content: '.'; */
    align-items: center;
    justify-content: center;
    pointer-events: none;
    height: 33%;
    position: relative; 
    width: 33%;
    font-size: .6rem;
    font-weight: 650;
}

/* Chosen tile */

.active {
    /* border: .3rem dashed #5e8; */

    animation: focus 4s infinite linear alternate;
}

.new-sudoku-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-sudoku {
    width: 6rem;
    margin: 1rem;
    padding: .4rem;
    height: 2.5rem;
    /* background: hsl(113, 45%, 55%); */
    color: #000;
    border-radius: 25%;
   /*  position: absolute; bottom: 5%; left: 30%; */
}

.new-sudoku-easy {
    color: hsla(116, 73%, 40%, .85);
    border: .2rem solid hsl(116, 73%, 30%);
}

.new-sudoku-medium {
    color: hsla(55, 73%, 50%, .85);
    border: .2rem solid hsl(55, 73%, 30%);
}

.new-sudoku-hard {
    color: hsla(12, 73%, 40%, .85);
    border: .2rem solid  hsl(12, 73%, 30%);
}

.new-sudoku-master {
    color: hsla(182, 73%, 40%, .85);
    border: .2rem solid  hsl(182, 73%, 30%);
}

@keyframes colored {
    0% {
        background-image: radial-gradient(#222, #555, #888, #bbb, #eee);
    }

    25% {
        background-image: radial-gradient(#555, #888, #bbb, #eee, #222);
    }

    50% {
        background-image: radial-gradient(#888, #bbb, #eee, #222, #555);
    }

    75% {
        background-image: radial-gradient(#bbb, #eee, #222, #555, #888,);
    }

    100% {
        background-image: radial-gradient(#eee, #222, #555, #888, #bbb);
    }
}

@keyframes focus {
    0% {
        border: .3rem solid #222c;
        border-radius: 10%;
        background-color: #2227;
    }

    25% {
        border: .3rem solid #555c;
        border-radius: 10%;
        background-color: #5557;
    }

    50% {
        border: .3rem solid #888c;
        border-radius: 10%;
        background-color: #8887;
    }

    75% {
        border: .3rem solid #bbbc;
        border-radius: 10%;
        background-color: #bbb7;
    }

    100% {
        border: .3rem solid #eeec;
        border-radius: 10%;
        background-color: #eee7;
    }
}