@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia');

.all {
    width: 100%;
    height: 100%;
    font-family: 'Audiowide', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

.sudoku-day, .all-day {
    background: #ddd;
    color: #000;
}

.sudoku-night, .all-night {
    background: #000;
    color: #ddd;
}

.all-night::after, .all-day::after {
    content: '';
    display: block;
    position: absolute; top: 0%; left: 0%;
    z-index: -30;
    width: 100vw;
    height: 100vh;
}

.all-night::after {
    background: #000;
}

.all-day::after {
    background: #ddd;
}

.sudoku-title {
    padding: .6rem;
    font-size: 2rem;
}

.sudoku-map {
    padding:  2rem .2rem;
    display:  flex;
    align-items: center;
    justify-content: center;
}

.sudoku-board {
    display: grid;
    grid-template-columns: repeat(3, 7rem);
    grid-template-rows: repeat(3, 7rem);
    border: .2rem solid #000;
}

.initial {
    font-weight: 800;
    font-family: 'Audiowide', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.palette {  /* Indicates main box for palette */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .1rem;
}

.numbers-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    border-radius: 10%;
}

.numbers-night-easy {
    border: .2rem solid hsl(116, 73%, 30%);
}

.numbers-day-easy {
    border: .2rem solid hsl(116, 60%, 40%);
}

.numbers-night-medium {
    border: .2rem solid hsl(55, 73%, 30%);
}

.numbers-day-medium {
    border: .2rem solid hsl(55, 60%, 40%);
}

.numbers-night-hard {
    border: .2rem solid hsl(12, 73%, 30%);
}

.numbers-day-hard {
    border: .2rem solid hsl(12, 60%, 40%);
}

.numbers-night-master {
    border: .2rem solid hsl(182, 73%, 30%);
} 

.numbers-day-master {
    border: .2rem solid hsl(182, 60%, 40%);
}

.numbers-box .option {
    border: .1rem solid;
    border-color: inherit;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    font-weight: 600;
    border: .2rem dotted hsla(124, 5%, 5%, .6);
    font-weight: 700;
    border-radius: 10%;
}

.option:hover {
    cursor: pointer;
}

/* When we append a number to a given tile with pencilmark option turn on*/

.pencilmark_tile {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 33%);
    grid-template-columns: repeat(3, 33%);
}

.xd {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    height: 33%;
    position: relative; 
    width: 33%;
    font-size: .6rem;
    font-weight: 650;
}

/* Chosen tile */

.active {
    animation: focus 4s infinite linear alternate;
}

.new-sudoku-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-sudoku {
    width: 6rem;
    margin: 1rem;
    padding: .4rem;
    height: 2.5rem;
    color: #000;
    border-radius: 25%;
}

.new-sudoku:hover {
    cursor: pointer;
}

.new-sudoku-night-easy {
    color: hsla(116, 73%, 40%, .85);
    border: .2rem solid hsl(116, 73%, 30%);
}

.new-sudoku-day-easy {
    color: hsl(116, 73%, 30%);
    border: .2rem solid hsla(116, 73%, 40%, .85);
}

.new-sudoku-night-medium {
    color: hsla(55, 73%, 50%, .85);
    border: .2rem solid hsl(55, 73%, 30%);
}

.new-sudoku-day-medium {
    color:  hsl(55, 73%, 40%);
    border: .2rem solid hsla(55, 73%, 40%, .85);
}

.new-sudoku-night-hard {
    color: hsla(12, 73%, 40%, .85);
    border: .2rem solid   hsl(12, 73%, 30%)
}

.new-sudoku-day-hard {
    color: hsl(12, 73%, 30%); 
    border: .2rem solid hsla(12, 73%, 40%, .85);
}


.new-sudoku-night-master {
    color: hsla(182, 73%, 40%, .85);
    border: .2rem solid  hsl(182, 73%, 30%);
}

.new-sudoku-day-master {
    color:  hsl(182, 73%, 30%);
    border: .2rem solid  hsla(182, 73%, 40%, .85);
}

@keyframes colored {
    0% {
        background-image: radial-gradient(#222, #555, #888, #bbb, #eee);
    }

    25% {
        background-image: radial-gradient(#555, #888, #bbb, #eee, #222);
    }

    50% {
        background-image: radial-gradient(#888, #bbb, #eee, #222, #555);
    }

    75% {
        background-image: radial-gradient(#bbb, #eee, #222, #555, #888,);
    }

    100% {
        background-image: radial-gradient(#eee, #222, #555, #888, #bbb);
    }
}

@keyframes focus {
    0% {
        border: .3rem solid #222c;
        border-radius: 10%;
        background-color: #2227;
    }

    25% {
        border: .3rem solid #555c;
        border-radius: 10%;
        background-color: #5557;
    }

    50% {
        border: .3rem solid #888c;
        border-radius: 10%;
        background-color: #8887;
    }

    75% {
        border: .3rem solid #bbbc;
        border-radius: 10%;
        background-color: #bbb7;
    }

    100% {
        border: .3rem solid #eeec;
        border-radius: 10%;
        background-color: #eee7;
    }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {

    .game-elems {
        display: grid;
        grid-template-columns: 27% 46% 27%;
        grid-template-rows: auto;
    }

    .xd {
        font-size: .5rem;
    }

    .tile {
        font-size: .8rem;
    }

    .sudoku-map {
        padding: 1.2rem .2rem;
    }

    .sudoku-board {
        grid-template-rows: repeat(3, 6rem);
        grid-template-columns: repeat(3, 6rem);
    }

    .numbers-box {
        display: grid;
        grid-template-columns: repeat(3, 7.3vw);
        grid-template-rows: repeat(3, 7.3vw);
        grid-template-areas: 
            "digit   digit   digit"
            "digit   digit   digit"
            "digit   digit   digit"
            "rubber  rubber  rubber"
        ;
    }

    .option {
        padding: .8rem;
    }

    .option-0 { /*aka. the rubber*/
        grid-area: rubber;
    }
}



@media screen and (orientation: landscape) and (min-width: 1001px) {

    .sudoku-main {
        position: absolute; top: 0; left: 0;
        min-height: 100vh; min-width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body{
        overflow-y: hidden;
    }

    .sudoku-title {
        font-size: 2.5rem;
    }

    .numbers-box {
        border-radius: 5%;
    }

    .game-elems {
        display: grid;
        grid-template-columns: 27% 46% 27%;
        grid-template-rows: auto;
    }

    .xd {
        font-size: .5rem;
    }

    .tile {
        font-size: 1rem;
    }

    .sudoku-map {
        padding: 1.2rem .2rem;
    }

    .sudoku-board {
        grid-template-rows: repeat(3, 8rem);
        grid-template-columns: repeat(3, 8rem);
    }

    .numbers-box {
        display: grid;
        grid-template-columns: repeat(3, 7.3vw);
        grid-template-rows: repeat(3, 7.3vw);
        grid-template-areas: 
            "digit   digit   digit"
            "digit   digit   digit"
            "digit   digit   digit"
            "rubber  rubber  rubber"
        ;
    }

    .option {
        font-size: 1.8rem;
        padding: .8rem;
    }

    .option-0 { /*aka. the rubber*/
        grid-area: rubber;
    }
}