.all {
    width: 100vw;
}

.sudoku-title {
    padding: .6rem;
    font-size: 2rem;
}

.sudoku-map {
    padding:  2rem .2rem;
    display:  flex;
    align-items: center;
    justify-content: center;
}

.sudoku-board {
    display: grid;
    /* min-width: 60%; */
    border: .2rem solid #000;
    color: #000;
}

.initial {
    font-weight: 700;
    color:azure;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.numbers-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.option {
    width: 9%;
    font-weight: 600;
    border: .2rem dotted hsl(124, 45%, 55%);
}


/* Chosen tile */

.active {
    border: .3rem dashed #5e8;
}